if SHIELD_NIGHTGLYPH_LEFT || SHIELD_NIGHTGLYPH_RIGHT

config ZMK_KEYBOARD_NAME
    default "NightGlyph"

config ZMK_SPLIT
    default y

endif

if SHIELD_NIGHTGLYPH_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif
